{% extends 'layout.html' %}
{% block content %}
    <!-- Password Reset Complete -->
    <div class="container d-flex align-items-start justify-content-center mt-5" style="height: 100vh;">
        <form method="" class="border p-4 shadow rounded bg-white" style="width: 100%; max-width: 500px;">
            <h2 class="text-center mb-4">Password Reset Complete</h2>
            <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">log in now</a>.</p>
        </form>
    </div>
{% endblock %}