{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!-- Register Form -->
    <div class="container d-flex align-items-start justify-content-center mt-5 mb-5">
        <form method="POST" id="register-form" class="border p-4 shadow rounded bg-white" style="width: 100%; max-width: 500px;">
            {% csrf_token %}
            <h2 class="text-center mb-4">Sign Up</h2>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <!-- Field Errors -->
                    <div class="invalid-feedback" id="{{ field.name }}-errors"></div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Register</button>
            <p class="text-center mt-3">
                Already have an Account? <a href="{% url 'login' %}">Login</a>
            </p>
        </form>
    </div>
    <!-- scripts -->
    <script src="{% static 'base/scripts/auth_forms.js' %}"></script>
{% endblock %}