{% extends 'index.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mt-3">
    <h1 class="mb-0">Inventory</h1>
    <div>
        <a href="{% url 'add_item' %}" class="btn btn-primary">ADD ITEM</a>
        <a href="#" class="btn btn-secondary">ADD CATEGORY</a>
    </div>
</div>
<hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        All Products
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <!-- Header section for the table | Table Column Names -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Additional Attributes</th>
                    <th>Total</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Picture</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table Products -->
                {% for product in products %}
                <tr>
                    <!-- Name -->
                    <td>{{ product.name }}</td>
                    <!-- Quantity -->
                    <td>{{ product.quantity }}</td>
                    <!-- Price -->
                    <td>{{ product.price }}</td>
                    <!-- Additional Attributes -->
                    <td>
                        {% if product.other_attr.count > 0 %}
                            {% for add_attr in product.other_attr.all %}
                                <span style="display: block;">
                                    <b>{{ add_attr }}: </b>
                                    {% for desc in add_attr.addattrdescription_set.all %}
                                        {% if desc.product == product %}
                                            {{ desc.body }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endfor %}
                        {% else %}-{% endif %}
                    </td>
                    <!-- Total Price -->
                    <td>{{ product.total_price }}</td>
                    <!-- Category -->
                    <td>{% if product.category %}{{ product.category }}{% else %}-{% endif %}</td>
                    <!-- Supplier -->
                    <td>{% if product.supplier %}{{ product.supplier }}{% else %}-{% endif %}</td>
                    <!-- Picture -->
                    <td>
                        {% if product.picture %}
                            <img class="img-thumbnail" style="width: 100px;" src="{{ product.picture.url }}">
                        {% else %}-{% endif %}
                    </td>
                    <!-- Action -->
                    <th><a href="{% url 'edit_item' product.id %}" style="color: black;"><i class="bi bi-pencil-square"></i></a> <a href="#" style="color: black;"><i class="bi bi-archive-fill"></i></a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}