{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mt-3">
    <h1 class="mb-0">Inventory</h1>
    <div>
        <a href="{% url 'add_item' %}" class="btn btn-primary me-2">ADD ITEM</a>
        <a href="{% url 'add_category' %}" class="btn btn-primary me-2">ADD CATEGORY</a>
        <a href="{% url 'add_supplier' %}" class="btn btn-primary">ADD SUPPLIER</a>
    </div>
</div>
<hr>
<div class="card mb-4">
    <!-- Table Header -->
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <!-- Table Title | Left -->
            <div class="table-header-elements me-3">
                {% if table_title %}
                    <a href="{% url 'inventory_home' %}" class="me-2" style="color: black;"><i class="bi bi-arrow-left-circle-fill" style="font-size: 18px;"></i></a>
                {% endif %}
                <i class="fas fa-table me-1"></i>
                <span id="search_title">{% if table_title %}{{ table_title|safe }}{% else %}All Items{% endif %}</span>
            </div>
            <!-- Table Data Info | Right -->
            <div class="d-flex align-items-center justify-content-between">
                <!-- Total items -->
                <div class="table-header-elements me-3" id="total_items">
                    <b>Items: </b><span id="item_num">{{ items.count }}</span>
                </div>
                <!-- Total Quantity -->
                <div class="table-header-elements me-3" id="total_items">
                    <b>Total Quantity: </b>{{ items.total_quantity }}
                </div>
                <!-- Total Value -->
                <div class="table-header-elements me-3" id="total_value">
                    <b>Total Value: </b>{{ items.total_value }}
                </div>
                <!-- Total Categories -->
                <div class="table-header-elements me-2" id="total_categories">
                    <b>Categories: </b>{{ categories.count }}
                </div>
            </div>
        </div>
    </div>
    <!-- Table Elements(Data) -->
    <div class="card-body">
        <!-- Inventory AG GRID DataTable -->
        <input type="hidden" id="user_id" value="{{ request.user.id }}">
        <input type="hidden" id="category_id" value="{{ category_id }}">
        <input type="hidden" id="supplier_id" value="{{ supplier_id }}">
        <div class="ag-theme-material" id="inventoryTable" style="width: 100%; height: 100%;"></div>
        <!-- <table id="datatablesSimple"> -->
            <!-- Header section for the table | Table Column Names -->
            <!-- <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Variants</th>
                    <th>Total Price</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Picture</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
            </thead> -->
            <!-- <tbody>
                Table items 
                {% for item in items %}
                <tr>
                    Name 
                    <td>{{ item.name }}</td>
                    Quantity 
                    <td>{{ item.quantity }}</td>
                     Price 
                    <td>{{ item.price }}</td>
                    Variants 
                    <td>
                        {% if item.variants.count > 0 %}
                            {% for variant in item.variants.all %}
                                <span style="display: block;">
                                    <b>{{ variant.name }}: </b>
                                    {% for option in variant.variantoptions_set.all %}
                                        {% if option.item == item %}
                                            {{ option.body }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endfor %}
                        {% else %}-{% endif %}
                    </td>
                    Total Price
                    <td>{{ item.total_price }}</td>
                    Category 
                    <td>{% if item.category %}
                            <a class="table_links" href="{% url 'category_items' item.category.name %}">{{ item.category.name }}</a>
                        {% else %}-{% endif %}
                    </td>
                    Supplier 
                    <td>{% if item.supplier %}
                            <a class="table_links" href="{% url 'supplier_items' item.supplier.name %}">{{ item.supplier.name }}</a>
                        {% else %}-{% endif %}
                    </td>
                     Picture
                    <td>
                        {% if item.picture %}
                            <img class="img-thumbnail" style="width: 100px;" src="{{ item.picture.url }}">
                        {% else %}-{% endif %}
                    </td>
                     Date Added
                    <td>{{ item.created_at }}</td>
                    Date Updated 
                    <td>{% if item.updated %}{{ item.updated_at }}{% else %}-{% endif %}</td>
                    Action
                    <th>
                         Edit Item 
                        <a href="{% url 'edit_item' item.id %}" style="color: black;">
                        <i class="bi bi-pencil-square"></i></a>
                         Delete Item -->
                        <!-- Delete Item Trigger 
                        <a href=""
                           style="color: black;"
                           data-toggle="modal"
                           data-target="#deleteItemModal-{{ item.id }}">
                           <i class="bi bi-archive-fill"></i>
                        </a>
                        Delete Item Form 
                        <div class="modal fade" id="deleteItemModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">DELETE ITEM</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete item <b>{{ item.name }}</b>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_item' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody> -->
        <!-- </table> -->
    </div>
</div>
<script src="{% static 'inventory/scripts/ag_grid_datatable.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
{% endblock %}