{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Register Category Form -->
<div class="container d-flex align-items-start justify-content-center mt-5 mb-5">
    <form method="POST"
          id="add_category_form" enctype="multipart/form-data"
          class="border p-4 shadow rounded bg-white"
          style="width: 100%; max-width: 450px;">
        {% csrf_token %}
        <h2 class="text-center mb-4">{{ title }}</h2>
        <!-- Category Name -->
        {% for field in form %}
            <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}<span style="color: red;">*</span></label>
                {{ field }}
                <!-- Field Errors -->
                <div class="invalid-feedback" id="{{ field.name }}-errors"></div>
            </div>
        {% endfor %}
        <!-- Category Products -->
        {% if products.count > 0 %}
            <div class="form-group mb-3">
                <label for="products" class="form-label">Products</label>
                <ul class="list-group">
                    {% for product in products %}
                        <li class="list-group-item">
                        <input class="form-check-input me-1 category_products" id="{{ product.id }}"
                            type="checkbox"
                            value=""
                            ria-label="Checks product for category">
                        {{ product.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- Submit Form Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">Add Category</button>
        </div>
    </form>
</div>
<script src="{% static 'inventory/scripts/add_category_form.js' %}"></script>
{% endblock %}