{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Register/Edit Product Form -->
<div class="container d-flex align-items-start justify-content-center mt-5 mb-5">
    <form method="POST"
          id="add_item_form" enctype="multipart/form-data"
          class="border p-4 shadow rounded bg-white"
          style="width: 100%; max-width: 500px;">
        {% csrf_token %}
        <h2 class="text-center mb-4" id="form-title">{{ title }}</h2>
        <input type="hidden" value="{{ product.id }}" id="product_id">
        {% for field in form %}
            <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{% if not field.name in custom_fields %}<span style="color: red;">*</span>{% endif %}</label>
                <!-- Custom fields: Category, Supplier -->
                {% if field.name in custom_fields %}
                    <input type="text" class="form-control"
                           value="{% if field.name == 'category' %}{% if category_name %}{{ category_name }}{% else %}{{ product.category.name }}{% endif %}{% else %}{{ product.supplier.name }}{% endif %}" 
                           name="{{ field.name }}"
                           list="{{ field.name }}-list">
                    <datalist id="{{ field.name }}-list">
                        <select id="product_{{ field.name }}">
                            {% if field.name == 'category' %}
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            {% else %}
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.name }}">{{ supplier.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </datalist>
                <!-- Other Fields: Name, Quantity, Price -->
                {% else %}
                    {{ field }}
                {% endif %}
                <!-- Field Errors -->
                <div class="invalid-feedback" id="{{ field.name }}-errors"></div>
            </div>
        {% endfor %}
        <!-- Add Variant Switch -->
        <hr>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input"
                   id="add-variants-switch"
                   type="checkbox" role="switch"
                   id="flexSwitchCheckDefault" {% if product.other_attr.all|length > 0 %}checked{% endif %}>
            <label class="form-check-label" for="flexSwitchCheckDefault">This item has variants</label>
        </div>
        <!-- Add Variant Container -->
        <div id="add-attr-container" data-add-attr='{{ add_attributes }}'>
            {% if product.other_attr.all|length > 0 %}
            <label for="add-attr" class="form-label">Attributes And Options<span style="color: red;">*</span></label>
            <div id="form-groups">
                {% for add_attr in product.other_attr.all %}
                    <!-- Additional Attribute -->
                    <div class='form-group attribute-field' id="form-group-{{ forloop.counter }}">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text"
                                           class="form-control mb-2 attr"
                                           name="add-attr-{{ forloop.counter }}"
                                           value="{{ add_attr.name }}"
                                           data-index="{{ forloop.counter }}"
                                           id="floatingInputGrid-{{ forloop.counter }}"
                                           list="add-attr-list-{{ forloop.counter }}"
                                           placeholder="e.g. Color or Size" required>
                                    <datalist id="add-attr-list-{{ forloop.counter }}"
                                        <select id="product_add-attr">
                                            {% for other_attr in product.other_attr.all %}
                                                <option value="{{ other_attr.name }}">{{ other_attr.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </datalist>
                                    <label class="attr" for="floatingInputGrid-{{ forloop.counter }}" style="color: grey;">Attribute (e.g. Color or Size)</label>
                                </div>
                            </div>
                            <!-- Delete Attribute Button -->
                            <div class="col-auto">
                                <button class="btn btn-outline-secondary delete-icon mb-2" type="button" data-index="{{ forloop.counter }}">
                                    <i class="bi bi-archive-fill" style="font-size: 20px;"></i> <!-- Example using Bootstrap Icons -->
                                </button>
                            </div>
                        </div>
                        <!-- Options (Additional Attribute Descriptions) -->
                        <div class="form-floating">
                            <input type="text"
                                   class="form-control opt"
                                   name="add-attr-desc-{{ forloop.counter }}"
                                   value="{{ add_attr.addattrdescription_set.all.first.body }}"
                                   id="floatingInputGrid-desc-{{ forloop.counter }}"
                                   placeholder="Type options separated by comma" required>
                            <label class="opt"
                                   for="floatingInputGrid-desc-{{ forloop.counter }}"
                                   style="color: grey;">Options (Type options separated by comma)</label>
                        </div>
                        <!-- Validation Errors -->
                        <div class="invalid-feedback" id="attr-error-{{ forloop.counter }}"></div>
                        <!-- Trailing Line -->
                        {% if forloop.counter < product.other_attr.all|length %}
                        <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- Add Other Attributes Button -->
            <button type="button" id="add-attr-btn" class="btn btn-secondary mt-2">Add Attribute</button>
            {% endif %}
        </div>
        <hr>
        <!-- Picture Field -->
        <div class="form-group">
            {% if product.picture %}
            <div class="d-flex justify-content-between">
                <label for="picture" class="form-label">Current Picture:</label>
                <img src="{{ product.picture.url }}"
                     class="img-fluid border border-1 rounded-1"
                     style="width: 100px;">
                </img>
            </div>
                Change:
            {% else %}
                <label for="picture" class="form-label">Picture</label>
            {% endif %}
            <input type="file" name="picture" accept="image/*" class="form-control">
        </div>
        <!-- Submit Form Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block mt-3">{% if title == 'Add Item' %}Add Item{% else %}Update Item{% endif %}</button>
        </div>
    </form>
</div>
<script src="{% static 'inventory/scripts/add_item_form.js' %}"></script>
{% endblock %}