{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!-- Login Form -->
    {% if next %}
        <p>You need to be logged in to access the requested page.</p>
    {% endif %}
    <div class="container d-flex align-items-start justify-content-center mt-5" style="height: 100vh;">
        <form method="POST" id="login-form" class="border p-4 shadow rounded bg-white" style="width: 100%; max-width: 450px;">
            <h2 class="text-center mb-4">Login</h2>
            {% csrf_token %}
            <!-- Email -->
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <!-- Password -->
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <!-- Login Errors -->
                <div class="invalid-feedback" id="login-errors"></div>
            </div>
            <!-- Submit Button -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <p class="text-center mt-3">
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </p>
            <p class="text-center">
                Don't have an Account? <a href="{% url 'register' %}">Sign Up</a>
            </p>
        </form>
    </div>
    <script src="{% static 'base/scripts/login_form.js' %}"></script>
{% endblock %}