@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 100vh;
    margin-left: 2em;
    margin-right: 2em;
}

/* NavBar */
.logo a{
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.auth_info {
    font-size: 23px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 25px;
}