.table_links {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: #1F305E;
    font-weight: 500;
    text-decoration: none;
}

.table_links:hover {
    text-decoration: underline;
}

#datatablesSimple thead {
    background-color: #F5F5F5;
}

#datatablesSimple {
    font-size: 0.95em;
}

.ag-theme-quartz .ag-cell {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #F0F0F0;
    border-right: none;
}

.ag-theme-quartz .ag-header {
    background-color: #E8E8E8;
    border-bottom: 1px solid	#D3D3D3;
}

.ag-theme-quartz .ag-row {
    border-top: none;
    border-bottom: 1px solid #F0F0F0;
    border-left: none;
    border-right: none;
}


.ag-theme-quartz .ag-body {
    border-bottom: 1px solid #D3D3D3;
}

.ag-row-odd {
    background-color: #F8F8F8 !important;
}

.ag-row-even {
    background-color: #FFFFFF !important;
}