{% extends 'layout.html' %}
{% block content %}
    <!-- NavBar -->
    {% include 'nav_bar.html' %}
    <!-- Confirm Account Form -->
    <h1>Confirm Account</h1>
    <div class="confirm-form">
        <form method="POST" action="">
            {% csrf_token %}
            <label>Confirmation Code</label>
            <input type="text" name="confirm_code" {% if confirm_code %}value="{{ confirm_code }}"{% endif %}>
            <button type="submit">Confirm</button>
        </form>
        <a href="{% url 'resend-code' %}">Resend Code</a>
    </div>
{% endblock %}