{% extends 'layout.html' %}
{% block content %}
    <!-- Password Reset Message Sent -->
    <div class="container d-flex align-items-start justify-content-center mt-5" style="height: 100vh;">
        <form method="" class="border p-4 shadow rounded bg-white" style="width: 100%; max-width: 500px;">
            <h2 class="text-center mb-4">Password Reset Sent</h2>
            <p>We have emailed you instructions for setting your password. You should receive the email shortly.</p>
        </form>
    </div>
{% endblock %}