{% extends 'layout.html' %}
{% block content %}
    <!-- Profile -->
    <div class="container bg-white mt-5 mb-5">
        <div class="row">
            <!-- User's Info -->
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{{ user.avatar.url }}">
                    <span class="font-weight-bold">{{ user.username }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                    <span></span>
                </div>
            </div>
            <!-- Profile Settings -->
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row mt-3">
                            {% for field in profile_form %}
                            <div class="col-md-12">
                                <label class="labels col-form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% endfor %}
                            <input type="hidden" name="profile_form" value="profile_form">
                        </div>
                        <!-- <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels col-form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels col-form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                            </div>
                        </div> -->
                        <!-- <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="enter phone number" value="">
                            </div>
                            <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                            <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                            <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                            <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                            <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                            <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                            <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                            <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                        </div> -->
                        <div class="mt-3 text-center">
                            <button class="btn btn-primary btn-block" type="submit">Save Profile</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Password Settings -->
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Update Password</h4>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row mt-3">
                            {% for field in pwd_form %}
                            <div class="col-md-12">
                                <label class="labels col-form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% endfor %}
                            <input type="hidden" name="pwd_form" value="pwd_form">
                        </div>
                        <div class="mt-3 text-center">
                            <button class="btn btn-primary btn-block" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}