{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Register Category Form -->
<div class="container d-flex align-items-start justify-content-center mt-5 mb-5">
    <form method="POST"
          id="add_category_supplier_form"
          class="border p-4 shadow rounded bg-white"
          style="width: 100%; max-width: 450px;">
        {% csrf_token %}
        <h2 class="text-center mb-4" id="form_title">{{ title }}</h2>
        <!-- Category Name -->
        {% for field in form %}
            <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{% if not field.name == 'phone_number' %}<span style="color: red;">*</span>{% endif %}</label>
                {{ field }}
                <!-- Field Errors -->
                <div class="invalid-feedback" id="{{ field.name }}-errors"></div>
            </div>
        {% endfor %}
        <!-- Category Items -->
        {% if items.count > 0 %}
            <div class="form-group mb-3">
                <label for="items" class="form-label">Items</label>
                <ul class="list-group">
                    {% for item in items %}
                        <li class="list-group-item">
                        <input class="form-check-input me-1 user_items" id="{{ item.id }}"
                            type="checkbox"
                            value=""
                            ria-label="Checks items">
                        {{ item.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- Submit Form Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">{{ title }}</button>
        </div>
    </form>
</div>
<script src="{% static 'inventory/scripts/add_ctg_sup_form.js' %}"></script>
{% endblock %}